.mostrar{

    width: 49%;
    height: 94vh;
    margin-left: 25%;
    margin-top: 3vh;
    background-color: rgb(43, 195, 255);
    position: relative;
    border-radius: 30px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnr-oEVz1YTbwgMtDl2s96tzEWdFFsUr2aeg&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid rgb(39, 137, 190);
    
    text-align: center;
    box-shadow: 0px 0px 4px 2px rgb(203, 208, 212);
}

.tex{
    margin-left: 20%;
    margin-top: 1vh;
    font-size: 280%;
    font-weight: 900;
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    text-align: center;
    color: rgb(207, 212, 212);
    text-shadow: 1px 1.3px 1px  rgb(84, 85, 85);
}
.agregar{

    margin-left: 25%;
    margin-top: 11vh;
    font-size: 123%;
    font-weight: 800;
    font-family: 'PT Sans', sans-serif;
    color: rgb(219, 222, 223);
    position: absolute;
    text-shadow: 1.3px 1px rgb(90, 91, 97);
}
.ciudad{

    width: 73%;
    height: 7vh;
    margin-left: 0%;
    margin-top: 1.3vh;
    border: none;
    border-radius: 13px;
    color:grey;
    text-align:center;
    font-size: 140%;
    cursor: pointer;
    border-bottom: 3px solid rgb(194, 194, 194);
    transition: 0.3s 
}

.paises{
    width: 74%;
    height: 7vh;
    left: 0%;
    margin-top: 68vh;
    border-radius: 13px;
    border:none;
    font-size: 130%;
    text-align: center;
    color: grey;
    cursor: pointer;
    border-bottom: 3px solid rgb(194, 191, 191);
    transition: 0.3s;
}
.boton{
    left: 3%;
    margin-top: 1vh;
    width: 50%;
    height: 8vh;
    border-radius: 13px;
    border: none;
    font-size: 180%;
    font-weight: 800;
    font-family: 'PT Sans', "sans-serif";
    background-color: rgb(90, 232, 242);
    color: rgb(121, 122, 125);
    text-shadow: 1.3px 1.3px 1px white;
    cursor: pointer;
    border-bottom: 3px solid rgb(134, 232, 232);
    text-align: center;
    transition: 0.4s;
}

.clima{

    width: 80%;
    height: 46vh;
    position: absolute;
    margin-top: 17vh;
    left: 0%;
}


.hoy{
    position: relative;
    font-size: 280%;
    margin-top: -2vh;
    color:white;
    text-shadow: 1.3px 1.8px rgb(83, 83, 83);
    left: 13%;
    font-family: 'PT Sans', 'sans-serif';
}


body{
    background-image:url("https://img2.wallspic.com/previews/7/0/1/9/69107/69107-dia-temporada-papel-costa-tropicos-x750.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


.fotos{
    position: relative;
    width:28%;
    height: 23vh;
    left: 14%;
    top:-13vh
    
}



.tem{
    font-size: 430%;
    margin-left: 28%;
    margin-top:-20vh;
    color:white;
    text-shadow: 1.8px 1.3px rgb(83, 82, 82);
    font-family: 'PT Sans', "sans-serif";
}

.max{
    font-size: 200%;
    margin-left: 28%;
    color: rgb(71, 72, 74);
    margin-top: -11vh;
    font-weight: 800;
    text-shadow: 1.3px 1.3px white;
    font-family: 'PT Sans', "sans-serif";
}
.temperatura{
    font-size: 200%;
    margin-left: 28%;
    color: rgb(71, 72, 74);
    margin-top: -6vh;
    font-weight: 800;
    text-shadow: 1.3px 1.3px white;
    font-family: 'PT Sans', "sans-serif";
}
.boton:hover{
    background-color: rgb(23, 186, 215);
    
}


.avisar{
    height: 23vh;
    width: 80%;
    margin-left: 10%;
    margin-top: -73vh;
    font-size: 180%;
    text-align: center;
    color: white;
    
    font-weight: 800;
    display: none;
    border-radius: 23px;
    padding-top: 13vh;
    font-family: 'PT Sans', "sans-serif";
    text-shadow: 1.3px 2px 1px rgb(78, 78, 80);
}
.com{
    margin-left: 0%;
    margin-top: -32vh;
    color: white;
    font-size: 130%;
    font-weight: 800;
    display: none;
    text-shadow: 1.3px 2px 1px rgb(78, 78, 80);
}
















.ciudad:focus{
background-color: rgb(228, 228, 228);
border: 0;
outline: none;
}
.paises:focus{
    background-color: rgb(228, 228, 228);
}


@media only screen and (max-width: 1030px){
    .tex{
        margin-left: 10%;
    }
    .agregar{
        left: -8%;
    }
    .hoy{
        margin-top: -1vh;
        margin-left: -13%;
    }
    .fotos{
        margin-left: 23%;
        margin-top: -13vh;
        width: 30%;
    }
    .tem{
        margin-left: 23%;
    }
    .max{
        margin-left: 23%;
        margin-top: -3vh;
    }
    .temperatura{
        margin-left: 23%;
        margin-top: -3vh;
    }
    .paises{
        margin-top: 70vh;
    }
    .boton{
        margin-top: 1vh;
    }
}


@media only screen and ( max-width: 800px){
.tex{
    margin-left: 13%;
    font-size: 30px;
}
.agregar{
    margin-left: 13%;
    margin-top: 10%;
}
.hoy{
    margin-top: -3vh;
    left: 20%;
}
.fotos{
    left: 4%;
    top: -130vh;
    width: 32%;
}
.tem{
    margin-left: 28%;
    margin-top: 40vh;
}
.max{
    margin-left: 28%;
    margin-top: -5vh;
}
.temperatura{
    margin-left: 28%;
    margin-top: -7vh;
}
.paises{
    margin-top: 68vh;
}
.boton{
    margin-top: 1vh;
}
}

@media only screen and ( max-width: 500px){
    .tex{
        left: 10.3%;
        margin-top: 3vh;
    }
    .agregar{
        margin-top: 12vh;
        text-align: center;
        left: -8%;
        width: 90%;
        font-size: 113%;
    }
    .hoy{
        margin-top: 0vh;
        left: 20%;
        font-size: 200%;
        text-align: center;
    }

    .com{
        margin-left: 13%;
        margin-top: -40vh;
        width: 90%;
    }
    .fotos{
        width: 40%;
        left: 3%;
        margin-top: -13vh;
        height: 20vh;
        
    }
    .tem{
        margin-left: 29%;
        margin-top: -4vh;
        font-size: 300%;
    }
    .max{
        font-size: 170%;
        margin-left: 28%;
        margin-top: -13%;
    }
    .temperatura{
        font-size: 170%;
        margin-left: 28%;
        margin-top: -5vh;
    }
    .mostrar{
        height: 98vh;
        border-radius: 23px;
        width: 90%;
        margin-left: 6%;
    }
    .paises{
        margin-top: 69vh;
        width: 93%;
        margin-left: 2%;
    }
    .boton{
        width: 93%;
        margin-left: 2%;
        font-size: 150%;
        margin-top: 3vh;
    }
    .ciudad{
        width: 93%;
        margin-left: 2%;
    }
}
@media only screen and (max-width: 440px){
    .tex{
        margin-left: -6%;
        margin-top: 3vh;
    }
    .hoy{
        top: 3vh
    }
    .fotos{
        width: 38%;
    }
    .com{
        margin-left:4.7%;
    }
    .avisar{
        margin-top: -70vh;
    }
}